    /*Installs new font family*/
@font-face {
    font-family: Starjedi;
    src: url('Starjedi.ttf');
}

	/*General Formatting*/
* {
    box-sizing: border-box;
}

body {
    background: url("../images/background.jpg") no-repeat;
    font-size: 18px;
    line-height: 34px;
    font-family: Starjedi, sans-serif;
    background-size: 100% auto;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Starjedi, sans-serif;
    color: #cca300;
}

h1 {
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    letter-spacing: 4px;
}

h2 {
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
}

h3 {
    font-size: 1.33em;
    margin-top: 1em;
    letter-spacing: 0.75px;
}

h4 {
    font-size: 1.17em;
    margin-top: 1em;
    margin-bottom: 1em;
}

h5 {
    font-size: .83em;
    margin-top: 1.67em;
    margin-bottom: 1.67em;
}

h6 {
    font-size: .67em;
    margin-top: 2.33em;
    margin-bottom: 2.33em;
}

p {
    color: gold;
}

    /*Spacing Divs*/

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    width: 100%;
    max-width: 960px;
    clear: both;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

    /*Content Section*/
header {
    width: 100%;
    text-align: center;
    padding-top: 5%;
}

section {
    float: left;
}

#you {
    clear: both;
}

#enemies {
    width: 750px;
    clear: both;
}

#fight {
    clear: both;
}

#defender {
    clear: both;
}

.character {
    width:960px;
}

.char {
    height: 220px;
    width: 180px;
    float: left;
    text-align: center;
    border: 2px white solid;
}

.char img {
    height: 150px;
    width: 150px;
    float: left;
    margin-left: 13px;
}

   /*Footer*/
footer {
    position: fixed;
    width: 100%;
    padding: 5px 0;
    border-top: 8px solid gold;
    clear: both;
    text-align: center;
    background-color: black;
    height: 3em;
    width: 100%;
    z-index: 3;
    bottom: 0;
}

#copyright {
    color: gold;
    text-align: center;
    width: 100%;
    font-size: 12px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}